@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Sorocaba-SP<br />
    R. Elías Rodrigues Claro, 390 - Jardim Sao Carlos, Sorocaba - SP, 18046-390<br />
    <abbr title="Phone">Phone:</abbr>
    +55 15 98105-3100
</address>

<address>
    <strong>E-mail:</strong> <a href="felicio.contato@live.com">felicio.contato@live.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/carlosfeliciojr/">Carlos Felicio Jr.</a>
</address>
